.heading {
  font-family: "Galien";
  font-weight: 700;
  font-size: 64px;
  line-height: 116%;
  letter-spacing: 0.04em;
  color: #1f3f68;
}

.subtitle {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.7;
}

.button {
  font-family: "Gilroy-Regular";
  border-radius: 10px;
  width: 220px;
  height: 56px;
  box-shadow: 5px 10px 20px 0 rgba(53, 110, 173, 0.2);
  background: #5a98d0;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

.title {
  font-family: "Gilroy-SemiBold";
  font-weight: 600;
  font-size: 36px;
  line-height: 128%;
  letter-spacing: 0.05em;
  color: #316099;
}

.card {
  border-radius: 10px;
  width: 380px;
  height: 525px;
  box-shadow: 5px 20px 50px 0 rgba(16, 112, 177, 0.2);
}

.caption {
  font-family: "Gilroy-SemiBold";
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #1f3f68;
}

.subcaption {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
}

.key {
  font-family: "Gilroy-SemiBold";
  font-weight: 600;
  font-size: 14px;
  line-height: 214%;
  letter-spacing: 0.05em;
  color: #5a98d0;
}

.title-hightlight {
  color: #fff;
}

.subtitle-hightlight {
  color: #fff;
  opacity: 0.6;
}

.element-top {
  font-family: "Gilroy-SemiBold";
  width: 235px;
  height: 128px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.43);
  border-right: 1px solid rgba(255, 255, 255, 0.43);
  font-weight: 600;
  font-size: 20px;
  line-height: 230%;
  letter-spacing: 0.02em;
  color: #f2f2f2;
}

.element-bottom {
  font-family: "Gilroy-SemiBold";
  width: 235px;
  height: 128px;
  border-right: 1px solid rgba(255, 255, 255, 0.43);
  font-weight: 600;
  font-size: 20px;
  line-height: 230%;
  letter-spacing: 0.02em;
  color: #f2f2f2;
}

.ourclient__body :nth-child(4) {
  border-right: none;
}

.ourclient__body :nth-child(8) {
  border-right: none;
  background: #4E87BB;
}

.mark {
  font-family: "Gilroy-SemiBold";
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.05em;
  color: #fff;
}

.info {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.05em;
  color: #fff;
}

.logo__text {
  font-family: "Gilroy-SemiBold";
  font-weight: 600;
  font-size: 28px;
  line-height: 164%;
  letter-spacing: 0.02em;
  color: #fff;
}

.right__title {
  font-family: "Gilroy-SemiBold";
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #fff;
  padding-bottom: 32px;
}

.links {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.05em;
  color: #fff;
}

.copyright-text {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.05em;
  color: #fff;
  opacity: 0.4;
}

.model__text {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.04em;
  color: #1f3f68;
}

.submit {
  width: 428px;
  height: 72px;
  box-shadow: 5px 10px 20px 0 rgba(16, 112, 177, 0.2);
  font-family: "Gilroy-SemiBold";
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background: #5a98d0;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.massage {
  font-family: "Gilroy-SemiBold";
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #1f3f68;
  margin-bottom: 48px;
}

@font-face {
  font-family: "Galien";
  src: url("/fonts/Galien-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/gilroy-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-light";
  src: url("/fonts/Gilroy-Light.otf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy-medium.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.wrapper {
  margin: 0 calc((100vw - min(1366px, 100vw)) / 2);
}

.burger {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.burger__item {
  width: 24px;
  height: 3px;
  background-color: #356ead;
  margin-right: 4px;
}

.hero {
  height: 768px;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 65%, rgba(152, 195, 232, 0.25));
  position: relative;
  width: 100%;
  z-index: 2;
}
.hero__action {
  width: 530px;
  height: 389px;
  padding: 90px 212px;
}
.hero__navigation {
  padding: 40px 63px 0 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__subtitle {
  width: 425px;
  margin-bottom: 75px;
}
.hero__title {
  margin-bottom: 42px;
}

.illustration {
  position: absolute;
  left: 638px;
  top: 108px;
  z-index: -1;
}

.whatwedo {
  width: 940px;
  height: 1162px;
  margin: 192px 213px 0 213px;
  position: relative;
  margin-bottom: 212px;
}
.whatwedo__title {
  width: 430px;
}
.whatwedo__card {
  position: absolute;
  left: 560px;
  top: 0;
}
.whatwedo__card2 {
  position: absolute;
  left: 80px;
  top: 296px;
}
.whatwedo__card3 {
  position: absolute;
  left: 560px;
  top: 637px;
}

.card__img {
  display: flex;
  justify-content: center;
  margin-top: -22px;
}
.card__img2 {
  padding: 48px 0 0 74px;
}
.card__img3 {
  padding: 49px 0 0 90px;
}
.card__text {
  padding: 51px 0px 0 48px;
  width: 284px;
}
.card__title {
  margin-bottom: 16px;
}
.card__subtitle {
  margin-bottom: 32px;
}
.card__button {
  display: flex;
  align-items: center;
  gap: 24px;
}

.ourclient {
  border-radius: 200px 0 0 0;
  width: 1366px;
  height: 1549px;
  background: #5a98d0;
}
.ourclient__header {
  width: 860px;
  height: 92px;
  padding: 96px 0 0 213px;
  display: flex;
  gap: 87px;
  padding-bottom: 111px;
}
.ourclient__body {
  padding-left: 213px;
  width: 950px;
  height: 256px;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 125px;
}

.header__title {
  width: 233px;
  height: 92px;
}
.header__subtitle {
  width: 540px;
  height: 80px;
}

.body__element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  border-radius: 0 200px 0 0;
  width: 1270px;
  height: 869px;
  background: #316099;
}
.footer__top {
  width: 860px;
  height: 204px;
  padding: 91px 0 0 213px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 97px;
}
.footer__bottom {
  width: 737px;
  height: 228px;
  padding: 96px 0 0 214px;
  display: flex;
}
.footer__left {
  width: 300px;
  height: 227px;
  padding-right: 100px;
}
.footer__left-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__right {
  height: 214px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.top__title {
  width: 330px;
  height: 92px;
  margin-bottom: 32px;
}
.top__subtitle {
  width: 460px;
  height: 80px;
}

.line {
  width: 1073px;
  height: 1px;
  background-color: #fff;
  opacity: 0.4;
}

.left__logo {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
  gap: 15px;
}
.left__info {
  width: 300px;
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.right__aboutus {
  width: 163px;
  height: 214px;
}
.right__aboutus-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.copyright {
  padding: 64px 0 0 213px;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3019607843);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
  overflow-y: auto;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal__box {
  height: 800px;
  border-radius: 10px;
  box-shadow: 5px 10px 50px 0 rgba(16, 112, 177, 0.2);
  background: #fff;
  padding: 56px 56px 56px;
}

.modal__accept {
  font-family: "Gilroy-SemiBold";
  color: green;
  text-align: center;
  width: 300px;
  font-size: 30px;
}

input {
  border: 1px solid #356ead;
  border-radius: 10px;
  width: 428px;
  height: 72px;
  padding-left: 42px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.04em;
  color: #000000;
}

.third__input :nth-child(2) {
  width: 428px;
  height: 144px;
  padding: 21px 282px 93px 36px;
}

.modal__form {
  display: flex;
  gap: 32px;
  flex-direction: column;
  margin-bottom: 72px;
}

label {
  color: red;
}

.error input {
  border-color: red;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1002px) {
  body {
    display: flex;
  }
  .illustration {
    display: none;
  }
  .hero {
    height: 529px;
    width: 100vw;
    margin-bottom: 50px;
  }
  .hero__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 355px;
    padding: 0;
    width: auto;
  }
  .hero__navigation {
    padding: 40px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero__subtitle {
    width: clamp(285px, 80vw, 700px);
    margin-bottom: 54px;
  }
  .hero__title {
    margin-bottom: 18px;
    width: clamp(261px, 80vw, 500px);
  }
  .heading {
    font-size: clamp(25px, 7vw, 40px);
    text-align: center;
    color: #1f3f68;
  }
  .subtitle {
    font-size: clamp(12px, 3vw, 20px);
    text-align: center;
  }
  .whatwedo {
    width: 100vw;
    height: auto;
    margin: 0;
    position: relative;
    margin-bottom: 29px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .whatwedo__title {
    width: clamp(321px, 80vw, 550px);
    font-size: clamp(25px, 7vw, 40px);
    text-align: center;
  }
  .whatwedo__card {
    position: static;
  }
  .whatwedo__card2 {
    position: static;
  }
  .whatwedo__card3 {
    position: static;
  }
  .whatwedo .card__img {
    display: flex;
    justify-content: center;
    margin-top: -9px;
  }
  .whatwedo .card__img2 {
    padding: 20px 0 0 50px;
  }
  .whatwedo .card__img3 {
    padding: 20px 0 0 60px;
  }
  .whatwedo .card__text {
    padding: 51px 0px 0 48px;
    width: 284px;
  }
  .whatwedo .card__title {
    margin-bottom: 16px;
  }
  .whatwedo .card__subtitle {
    margin-bottom: 32px;
  }
  .whatwedo .card__button {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .card {
    border-radius: 10px;
    width: 350px;
    height: auto;
    box-shadow: 5px 20px 50px 0 rgba(16, 112, 177, 0.2);
    padding-bottom: 20px;
  }
  .caption {
    font-size: clamp(15px, 3vw, 20px);
  }
  .subcaption {
    font-size: clamp(12px, 3vw, 16px);
  }
  .ourclient {
    width: auto;
    height: -moz-fit-content;
    height: fit-content;
    background: #5a98d0;
  }
  .ourclient__header {
    width: 100vw;
    height: auto;
    padding: 100px 30px;
    display: flex;
    gap: 25px;
    padding-bottom: 111px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .ourclient__body {
    padding-left: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .header__title {
    width: auto;
    height: auto;
    text-align: center;
    font-size: clamp(24px, 7vw, 36px);
  }
  .header__subtitle {
    width: clamp(300px, 80vw, 800px);
    height: auto;
  }
  .header .body__element {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .element-top {
    width: 40vw;
    height: 128px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.43);
    border-right: 1px solid rgba(255, 255, 255, 0.43);
    font-size: 18px;
    color: #f2f2f2;
  }
  .element-bottom {
    width: 40vw;
    height: 128px;
    border-right: 1px solid rgba(255, 255, 255, 0.43);
    font-size: 18px;
    color: #f2f2f2;
  }
  .ourclient__body :nth-child(2n) {
    border-right: none;
  }
  .ourclient__body :nth-child(8) {
    border-right: none;
    background: #4E87BB;
    border-top: 1px solid rgba(255, 255, 255, 0.43);
  }
  .ourclient__body :nth-child(7) {
    border-top: 1px solid rgba(255, 255, 255, 0.43);
  }
  .footer {
    border-radius: 0 200px 0 0;
    width: auto;
    height: auto;
    background: #316099;
  }
  .footer__top {
    width: auto;
    height: auto;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 97px;
  }
  .top__title {
    margin-top: 50px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: clamp(24px, 7vw, 36px);
  }
  .top__subtitle {
    width: auto;
    height: 80px;
    margin-bottom: 30px;
  }
  .line {
    width: 100vw;
    height: 1px;
    background-color: #fff;
    opacity: 0.4;
  }
  .footer__bottom {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 30px;
  }
  .footer__left {
    width: auto;
    height: auto;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }
  .footer__left-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 30px;
  }
  .footer__right {
    height: auto;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 0 15px;
  }
  .left__logo {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    gap: 15px;
    margin-top: 20px;
  }
  .left__info {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 18px;
  }
  .right__aboutus {
    width: 220px;
    height: auto;
    padding-left: 50px;
  }
  .right__aboutus-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 20px;
  }
  .right__followus {
    width: 220px;
    height: auto;
    padding-left: 50px;
  }
  .copyright {
    padding-left: 30px;
  }
  .modal__box {
    height: 800px;
    border-radius: 10px;
    box-shadow: 5px 10px 50px 0 rgba(16, 112, 177, 0.2);
    background: #fff;
    padding: 40px 40px 40px;
  }
  input {
    width: 250px;
  }
  .third__input :nth-child(2) {
    width: 250px;
    padding: 21px 100px 93px 36px;
  }
  .submit {
    width: 250px;
  }
}
@media screen and (min-width: 1002px) and (max-width: 1365px) {
  .illustration {
    display: none;
  }
  .hero {
    background-image: url(./public/img/bg.svg);
    height: auto;
    position: relative;
    width: 100%;
    z-index: 2;
  }
  .hero__action {
    width: clamp(530px, 80vw, 650px);
    height: 389px;
    padding: 90px 83px;
  }
  .hero__navigation {
    padding: 40px 63px 0 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero__subtitle {
    width: 425px;
    margin-bottom: 75px;
  }
  .hero__title {
    margin-bottom: 42px;
  }
  .whatwedo {
    width: 940px;
    height: 1162px;
    position: relative;
    margin-bottom: 212px;
    margin: 192px calc((100vw - min(1002px, 100vw)) / 2);
  }
  .ourclient {
    border-radius: 200px 0 0 0;
    width: auto;
    background: #5a98d0;
    height: auto;
  }
  .ourclient__header {
    width: 860px;
    padding: 96px calc((100vw - min(900px, 100vw)) / 2);
    gap: 57px;
  }
  .ourclient__body {
    padding-left: calc((100vw - min(900px, 100vw)) / 2);
  }
  .footer {
    width: auto;
  }
  .footer__top {
    width: 750px;
    padding: 70px 0 0 213px;
  }
  .footer__bottom {
    padding: 96px 0 0 214px;
  }
  .line {
    width: 80%;
  }
}
