@import '_typography';
@import '_fonts';

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.wrapper {
    margin: 0 calc((100vw - min(1366px, 100vw))/2);
}

.burger {
    &__item {
        width: 24px;
        height: 3px;
        background-color: #356ead;
        margin-right: 4px;
    }
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.hero {
    height: 768px;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 65%, rgba(152, 195, 232, 0.25)), ;
    position: relative;
    width: 100%;
    z-index: 2;

    &__action {
        width: 530px;
        height: 389px;
        padding: 90px 212px;
    }

    &__navigation {
        padding: 40px 63px 0 83px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subtitle {
        width: 425px;
        margin-bottom: 75px;
    }

    &__title {
        margin-bottom: 42px;
    }
}

.illustration {
    position: absolute;
    left: 638px;
    top: 108px;
    z-index: -1;
}

.whatwedo {
    width: 940px;
    height: 1162px;
    margin: 192px 213px 0 213px;
    position: relative;
    margin-bottom: 212px;

    &__title {
        width: 430px;
    }

    &__card {
        position: absolute;
        left: 560px;
        top: 0;
    }

    &__card2 {
        position: absolute;
        left: 80px;
        top: 296px;
    }

    &__card3 {
        position: absolute;
        left: 560px;
        top: 637px;
    }
}


.card {
    &__img {
        display: flex;
        justify-content: center;
        margin-top: -22px;
    }

    &__img2 {
        padding: 48px 0 0 74px;
    }

    &__img3 {
        padding: 49px 0 0 90px;
    }

    &__text {
        padding: 51px 0px 0 48px;
        width: 284px;

    }

    &__title {
        margin-bottom: 16px;
    }

    &__subtitle {
        margin-bottom: 32px;
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 24px;
    }
}

.ourclient {
    border-radius: 200px 0 0 0;
    width: 1366px;
    height: 1549px;
    background: #5a98d0;

    &__header {
        width: 860px;
        height: 92px;
        padding: 96px 0 0 213px;
        display: flex;
        gap: 87px;
        padding-bottom: 111px;
    }

    &__body {
        padding-left: 213px;
        width: 950px;
        height: 256px;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 125px;
    }
}

.header {
    &__title {
        width: 233px;
        height: 92px;
    }

    &__subtitle {
        width: 540px;
        height: 80px;
    }
}

.body {
    &__element {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.footer {
    border-radius: 0 200px 0 0;
    width: 1270px;
    height: 869px;
    background: #316099;

    &__top {
        width: 860px;
        height: 204px;
        padding: 91px 0 0 213px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 97px;
    }
    &__bottom {
        width: 737px;
        height: 228px;
        padding: 96px 0 0 214px;
        display: flex;
    }
    &__left {
        width: 300px;
        height: 227px;
        padding-right: 100px;
    }

    &__left-info {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__right {
        height: 214px;
        width: 350px;
        display: flex;
        justify-content: space-between;
    }
}

.top {
    &__title {
        width: 330px;
        height: 92px;
        margin-bottom: 32px;
    }

    &__subtitle {
        width: 460px;
        height: 80px;
    }
}

.line {
    width: 1073px;
    height: 1px;
    background-color: #fff;
    opacity: 0.4;
}

.left {
    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 31px;
        gap: 15px;
    }

    &__info {
        width: 300px;
        display: flex;
        flex-direction: row;
        gap: 18px;
    }
}

.right {
    &__aboutus {
        width: 163px;
        height: 214px;
    }

    &__aboutus-links {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
.copyright{
    padding: 64px 0 0 213px;
}  
.modal{
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #0000004d;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
    overflow-y: auto;
}
.modal.open{
    visibility: visible;
    opacity: 1;
}
.modal__box{
    height: 800px;
    border-radius: 10px;
    box-shadow: 5px 10px 50px 0 rgba(16, 112, 177, 0.2);
    background: #fff;
    padding: 56px 56px 56px;
}
.modal__accept{
    font-family: 'Gilroy-SemiBold';
    color:green;
    text-align:center;
    width: 300px;
    font-size: 30px;
}
input{
    border: 1px solid #356ead;
    border-radius: 10px;
    width: 428px;
    height: 72px;
    padding-left: 42px;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.04em;
    color: #000000;
}
.third__input :nth-child(2){
    width: 428px;
    height: 144px;
    padding: 21px 282px 93px 36px;
}
.modal__form{
    display: flex;
    gap: 32px;
    flex-direction: column;
    margin-bottom: 72px; 
}
label{
    color: red;
}
.error input{
    border-color: red;
}
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@import '_adaptive';